{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Playfair+Display&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% comment %} <script>
            @import url('https://fonts.googleapis.com/css2?family=Proxima+Nova');
        </script> {% endcomment %}
        <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
        {% block extraCss %}

        {% endblock extraCss %}
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg pt-3 navi">
        <div class="container-fluid">
            <div class="offcan d-lg-none">
                <a class="d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive"
                    aria-controls="offcanvasResponsive">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasResponsive"
                    aria-labelledby="offcanvasResponsiveLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-lg-none">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center ">
                            <li class="nav-item">
                                <a class="nav-link active" href=" {% url "index" %}"><i class="fa-solid fa-home"></i>Home</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href=" {% url "complaint" %}"><i class="fa-solid fa-hand"></i>Raise a Complaint
                                </a>
                            </li>
                            
    
    
                            {% if user.is_authenticated %}
                            {% comment %} Menu {% endcomment %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url "complaints" %}"><i class="fa-solid fa-person-dress-burst"></i>My Complaints
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Welcome, {{user.first_name}}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href=""><i class="fa-regular fa-user m-1"></i>Profile</a>
                                    </li>
                                    
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-primary" href="{% url "signout" %}">
                                            <i class="fa-solid fa-user m-2"></i>Log-Out</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
    
                            {% comment %} Sign In/Sign Out {% endcomment %}
    
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url "signin" %}">
                                    <i class="fa-solid fa-right-to-bracket"></i></i>Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href=" {% url "signup" %}">
                                    <i class="fa-solid fa-user"></i>Sign Up</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <a class="navbar-brand titleLogo" href=" {% url "index" %}" style="font-size:30px">Smart Traffic Sentinel</a>




            <div class="upper d-none d-sm-block">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center ">
                        <li class="nav-item">
                            <a class="nav-link active" href=" {% url "index" %}"><i class="fa-solid fa-home"></i>Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href=" {% url "complaint" %}"><i class="fa-solid fa-hand"></i>Raise a Complaint
                            </a>
                        </li>
                        


                        {% if user.is_authenticated %}
                        {% comment %} Menu {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url "complaints" %}"><i class="fa-solid fa-person-dress-burst"></i>My Complaints
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Welcome, {{user.first_name}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href=""><i class="fa-regular fa-user m-1"></i>Profile</a>
                                </li>
                                
                                    <hr class="dropdown-divider">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-primary" href="{% url "signout" %}">
                                        <i class="fa-solid fa-user m-2"></i>Log-Out</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}

                        {% comment %} Sign In/Sign Out {% endcomment %}

                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "signin" %}">
                                <i class="fa-solid fa-right-to-bracket"></i></i>Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href=" {% url "signup" %}">
                                <i class="fa-solid fa-user"></i>Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}

    {% endblock content %}

    <footer>
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow animate__animated animte__fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row " align="center">
                    <div class="col-md-6">
                        <h4 class="section-title ff-secondary text-primary fw-normal mb-5">Smart Traffic Sentinel</h4>
                        <center>
                            <a class="btn btn-link ms-3 text-decoration-none text-white" href="">About Us</a>
                        <a class="btn btn-link ms-3 text-decoration-none text-white" href="">Contact Us</a>
                    
                        <a class="btn btn-link ms-3 text-decoration-none text-white" href="">Privacy Policy</a>
                        <a class="btn btn-link text-decoration-none text-white" href="">Terms & Condition</a>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <center><h4 class="section-title ff-secondary text-primary fw-normal mb-4">Contact</h4></center>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Silicon Institute of Technology,Patia,Bhubaneswar</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>6371784794</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>whiteunicorn1947@gmail.com</p>
                        {% comment %} <center>
                            <div class="d-flex pt-2 text-center">
                                <a class="btn btn-outline-light btn-social" href=""><i class="fa-brands    fa-twitter"></i></a>
                                <a href="#" class="facebook btn btn-outline-light btn-social"><i class="fa-brands fa-facebook"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fa-brands fa-facebook-f"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fa-solid fa-youtube"></i></a>
                                <a class="btn btn-outline-light btn-social" href=""><i class="fa-solid fa-linkedin-in"></i></a>
                            </div>
                        </center> {% endcomment %}
                    </div>
                    
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-12 text-center mb-3 mb-md-0">
                            &copy; <a class="text-white" href="">Smart Traffic Sentinel</a>, All Right Reserved. 
							<div class="text-end">Designed By <a class="" href="subhranshu-portfolio.netlify.app">Subhranshu</a></div>
                        </div>
                        {% comment %} <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="text-center">
        &copy;Smart Sentinel 2024
    </footer>
    {% block extrajs %}
    {% endblock extrajs %}
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script>
        new WOW().init();
        if ($('body')[0].scrollWidth >  $('.body').innerWidth()) {
            //Text has over-flown
            console.log("hi")
        }
    </script>
</body>

</html>